#loading-bg {
  background: var(--initial-loader-bg, #fff);
}

.loading-logo {
  position: absolute;
  inset-block-start: 40%;
  inset-inline-start: calc(50% - 75px);
}

.pre-loading {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid transparent;
  block-size: 55px;
  border-radius: 50%;
  inline-size: 55px;
  inset-block-start: calc(40% + 35px);
  inset-inline-start: calc(50% - 27.5px);
}

.pre-loading .effect-1,
.pre-loading .effect-2,
.pre-loading .effect-3 {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid transparent;
  block-size: 100%;
  border-inline-start: 3px solid var(--initial-loader-color, #eee);
  border-radius: 50%;
  inline-size: 100%;
}

.pre-loading .effect-1 {
  animation: rotate 1s ease infinite;
}

.pre-loading .effect-2 {
  animation: rotate-opacity 1s ease infinite 0.1s;
}

.pre-loading .effect-3 {
  animation: rotate-opacity 1s ease infinite 0.2s;
}

.pre-loading .effects {
  transition: all 0.3s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate-opacity {
  0% {
    opacity: 0.1;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(1turn);
  }
}
