// ================================================================================================
//  File Name: include.scss
//  Description: Common components file to includ all theme specific custom components.
//  ----------------------------------------------------------------------------------------------
//  Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

// Overrides user variable
@import 'scss/variables/_variables-components'; // Component custom variable override (for user purpose)
@import 'variables'; // Component variable
@import 'variables-dark'; // Dark variable
