@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Asap Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 19px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-main: #004328;
  --text-secondary: #0dab6b;
  --bg-active: #fbfbfc;
}

html[data-theme='light'],
html[data-theme='dark'] {
  /* primary */

  --p: 154 85% 35%;
  /* primary focus */
  --pf: 154 70% 45%;
  /* primary content */
  --pc: 0 0% 100%;

  /* secondary */
  --s: 316 70% 0%;
  /* secondary focus */
  --sf: 316 70% 100%;
  /* secondary content */
  --sc: 0 0% 50%;

  /* accent */
  --a: 175 70% 41%;
  /* accent content */
  --ac: 0 0% 100%;
  /* accent focus */
  --af: 175 70% 33%;

  /* info */
  --in: 198 93% 60%;
  /* info content */
  --inc: 198 100% 12%;

  /* success */
  --su: 158 64% 52%;
  /* success content */
  --suc: 158 100% 10%;

  /* warning */
  --wa: 43 96% 56%;
  /* warning content */
  --wac: 43 100% 11%;

  /* error */
  --er: 0 91% 71%;
  /* error content */
  --erc: 0 100% 14%;

  /* neutral */
  --n: 218 18% 12%;
  /* neutral focus */
  --nf: 223 17% 8%;
  /* neutral content */
  --nc: 156 23 39;

  /* base 100 */
  --b1: 0 0% 100%;
  /* base 200 */
  --b2: 157 52% 95%;
  /* base 300 */
  --b3: 157 52% 95%;
  /* base content */

  --bc: 156 100% 13%;

  /* other settings */
  --rounded-box: 1rem;
  --rounded-btn: 0.25rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: capitalize;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
}

.table th:first-child {
  position: relative;
  z-index: 2;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(calc(80%));
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-calc(15%));
}

.btn-secondary {
  background-color: #004328 !important;
  border: none !important;
  text-transform: uppercase !important;
  color: #fff !important;
}

.btn-secondary:hover {
  background-color: #004328 !important;
  color: #fff !important;
}

.btn-primary {
  background-color: #0dab6b !important;
  border: none !important;
  text-transform: uppercase !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #0dab6b !important;
  color: #fff !important;
}

.btn-tertiary {
  background-color: transparent !important;
  border: 1px solid #004328 !important;
  text-transform: uppercase !important;
  color: #004328;
}

.btn-tertiary:hover {
  background-color: transparent !important;
  color: #004328;
  border: 1px solid #004328 !important;
}
