@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-main: #333;
    --text-secondary: #4b525d;
    --bg-active: #fbfbfc;
  }

  html.dark {
    --text-main: #f7f7f7;
    --text-secondary: #6f6e84;
    --bg-active: #242b40;
  }
}
